.red {
  width: 200px;
  height: 200px;
  background: red;
  position: relative;
  left: 200px;
}
.blue {
  width: 200px;
  height: 200px;
  background: blue;
  position: relative;
  left: 500px;
  bottom: 200px;
}

h1 {
  position: relative;
  top: 50px;
  border: 5px solid yellow;
  margin: 10px;
}
h2 {
  border: 5px solid red;
}
.out {
  height: 600px;
  width: 600px;
  background-color: green;
}
