body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
#product-overview {
  background: #ff1b68;
  padding: 20px;
  width: 100%;
  height: 528px;
  box-sizing: border-box;
}
.section-title {
  color: #2ddf5c;
}
#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}
#main-heading {
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}
.main-nav__item {
  display: inline-block;
}

/* display property is used to change 
the element property from inline to
block and block to inline*/
